.project
.settings
*.csproj
*.csproj.user
*.build
*.mdb
*.mdp
*.mds
*.pidb
*.dll.build
*/*/bin
*/*/*/bin
*/*/*/*/bin
*/*/*/*/*/bin
*/*/*/*/*/*/bin
*/*/*/*/*/*/*/bin
bin/Debug/*.dll
bin/*.dll.mdb
bin/addin-db-*
bin/*.dll
bin/ScriptEngines/*.dll
bin/ScriptEngines/*/*.dll
bin/ScriptEngines/*/*.state
bin/ScriptEngines/*/*.map
bin/ScriptEngines/*/*.text
bin/*.maddin
bin/*.exe
bin/j2kDecodeCache
bin/Physics*
bin/Terrain*
bin/UserAssets
bin/estate_settings.xml
bin/crashes/*
bin/config-include/CenomeCache.ini
bin/config-include/FlotsamCache.ini
bin/config-include/GridCommon.ini
bin/config-include/StandaloneCommon.ini
bin/OpenSim.Grid.AssetInventoryServer.log
bin/OpenSim.Grid.AssetServer.log
bin/OpenSim.Grid.GridServer.log
bin/OpenSim.Grid.InventoryServer.log
bin/OpenSim.Grid.MessagingServer.log
bin/OpenSim.Grid.UserServer.log
bin/OpenSim.log
Examples/*.dll
OpenSim.build
OpenSim.sln
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TestResult.xml
cov/*
OpenSim/OpenSim.userprefs
OpenSim/OpenSim.usertasks
TAGS
TestResult.xml
tmp/*
*~
bin/.version
compile.bat
